
<hr>
<hr>
<h1  style="margin: 10px 0;padding: 5px;border: 3px solid rgb(30, 0, 255);text-indent: 10px;" >Design & simplicity are the core of our website builder. 
    We create ,customize & promote a stunning website.
     Our website builder helps bring your unique vision to life. Absolutely no design or code experience is 
    required. Go ahead & create your own customized , mobile-optimized website with digital wordings</h1>
<hr>
<hr>
<hr>
<p style="margin: 10px 0;padding: 5px;border: 3px solid rgb(89, 0, 255);text-indent: 10px;"  > <strong>{{Header1 | uppercase}}</strong></p>