<h1>Welcome enter your details</h1>

<form  (ngSubmit)="onsummit(userForms)" #userForms="ngForm">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail4">Email</label>
        <input  ngModel name="firstname" type="email" class="form-control" id="inputEmail4" 
        placeholder="Email" required>
      </div>
  
      <div class="form-group col-md-2">
        <label for="inputPassword4">Password</label>
        <input  ngModel name="password" type="password" ngmodel class="form-control" id="inputPassword4" placeholder="Password" required>
      </div>
    </div>
  
    <div class="form-group">
      <div class="form-check">
        <input ngmodel class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Remember my details
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <button type="submit" class="btn btn-danger" (click)="setuservalue()">Set Value</button>
  </form>
